@model AdvancedProject.Models.LeaseApplication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaseApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="UnitId" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <label asp-for="DurationId" class="control-label"></label>
            <select asp-for="DurationId" class="form-control" asp-items="ViewBag.DurationId">
                <option value="">-- Select Duration --</option>
            </select>

            <span asp-validation-for="DurationId" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
