@model AdvancedProject.Models.Unit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Unit</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="PropertyId" />
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" placeholder="-- Enter Unit Number --" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitTypeId" class="control-label"></label>
                <select asp-for="UnitTypeId" class="form-control" asp-items="ViewBag.UnitTypeId">
                    <option value="">-- Select Unit Type --</option>
                </select>
                <span asp-validation-for="UnitTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SizeSqFt" class="control-label"></label>
                <input asp-for="SizeSqFt" class="form-control" placeholder="-- Enter Size (SqFt) --"
                       value="@(Model.SizeSqFt == 0 ? "" : Model.SizeSqFt.ToString())" />
                <span asp-validation-for="SizeSqFt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RentAmount" class="control-label"></label>
                <input asp-for="RentAmount" class="form-control" placeholder="-- Enter Rent Amount --"
                       value="@(Model.RentAmount == 0 ? "" : Model.RentAmount.ToString())" />
                <span asp-validation-for="RentAmount" class="text-danger"></span>
            </div>




            <div class="form-group mt-3">
                <label class="control-label">Amenities</label>
                <div>
                    @if (ViewBag.AmenityList != null)
                    {
                        foreach (var amenity in ViewBag.AmenityList)
                        {
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="selectedAmenities"
                                       value="@amenity.AmenityId"
                                       id="amenity_@amenity.AmenityId" />
                                <label class="form-check-label" for="amenity_@amenity.AmenityId">
                                    @amenity.Name
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}