@model AdvancedProject.Models.Unit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitId" />
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeSqFt" class="control-label"></label>
                <input asp-for="SizeSqFt" class="form-control" />
                <span asp-validation-for="SizeSqFt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentAmount" class="control-label"></label>
                <input asp-for="RentAmount" class="form-control" />
                <span asp-validation-for="RentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityStatus" class="control-label"></label>
                <input asp-for="AvailabilityStatus" class="form-control" />
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
