@model AdvancedProject.Models.Unit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitId" />
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitTypeId" class="control-label"></label>
                <select asp-for="UnitTypeId" class="form-control" asp-items="ViewBag.UnitTypeId"></select>
                <span asp-validation-for="UnitTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeSqFt" class="control-label"></label>
                <input asp-for="SizeSqFt" class="form-control" />
                <span asp-validation-for="SizeSqFt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentAmount" class="control-label"></label>
                <input asp-for="RentAmount" class="form-control" />
                <span asp-validation-for="RentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityStatus" class="control-label"></label>
                <input asp-for="AvailabilityStatus" class="form-control" />
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <label class="control-label">Amenities</label>
                <div>
                    @{
                        var selectedAmenities = ViewBag.SelectedAmenities as int[] ?? Array.Empty<int>();
                        var amenityList = ViewBag.AmenityList as List<AdvancedProject.Models.Amenity>;
                    }

                    @if (amenityList != null)
                    {
                        foreach (var amenity in amenityList)
                        {
                            bool isChecked = selectedAmenities.Contains(amenity.AmenityId);

                            <div class="form-check">
                                @if (isChecked)
                                {
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="selectedAmenities"
                                           value="@amenity.AmenityId"
                                           id="amenity_@amenity.AmenityId"
                                           checked />
                                }
                                else
                                {
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="selectedAmenities"
                                           value="@amenity.AmenityId"
                                           id="amenity_@amenity.AmenityId" />
                                }

                                <label class="form-check-label" for="amenity_@amenity.AmenityId">
                                    @amenity.Name
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
